.container {
    text-align: center;
    margin-top: 20px;

}


table {
    margin: auto;
}

input {
    font-size: 35px;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 10px;
    height: 80px;
    color: black;
    background-color: rgb(213, 180, 139);
}

button {
    font-size: 20px;
    width: 100px;
    height: 100px;
    background-color: rgb(209 44 183);
    border-radius: 31px;
    border-color: rgb(118 37 37);
    color: white;
    margin: 3px;
}

button:hover {
    background-color: #7c1354;
    transform: scale(1.1);
}

.calculator {
    display: inline-block;
    border: 2px solid black;
    background-color: rgb(253 123 251);
    padding: 14px;
    border-radius: 20px;
}